<html>
    <body>
        Selected entry {{ entry_name }}<br>
        {{ idx }} out of {{ count }} <br>
        <br>
        <a href="/">Back to list</a><br>
        <a href="/{{ next_entry }}">Next: {{ next_entry }}</a><br>
        <a href="/{{ prev_entry }}">Prev: {{ prev_entry }}</a><br>
        <br>
        <br>
        Text filename: "{{ text_filename }}"<br><br>
        Text: "{{ text }}"<br><br>
        <b>Request: {{ request }}</b><br><br>
        <b>Mark: "{{ mark }}"</b><br>
        <a href="{{ set_mark_neg }}"><button>-1 -- Страница не открывается или запрос некорректен</button></a>
        <a href="{{ set_mark_zero }}"><button>0 -- Ответ на запрос НЕ ревелантен</button></a>
        <a href="{{ set_mark_pos }}"><button>1 -- Ответ на запрос релевантен</button></a>
        <br><br>
        Url: <a target="_blank" href="{{ url }}">{{ url }}</a><br><br>
        <br><br>
        {% if img_filename %}
            Image filename: "{{ img_filename }}"<br><br>
            Image: <img src="{{ img_filename }}">
        {% else %}
            No image found. Here is iframe with url:<br>
            <iframe src="{{ url }}" style="width: 100%; height: 75%">
                Some troubles with iframe
            </iframe>
        {% endif %}
    </body>
</html>